.LogoStyle{
    font-family: 'Permanent Marker', cursive;
    font-weight: bolder;
    font-size: 55px;
    color: #E66702;
}
.LogoStyle:hover{
    color: #31D2F2;
    transform: inherit;
    transition: 2s linear;
    /* transition-duration:  2s; */
}

.navStyle{
    background-color: #E66702;
}

.navbar-nav a{
    color: white;
    font-size: 20px;
    border-bottom: 2px solid transparent;
}

.navbar-nav a:hover{
    border-bottom: 2px solid white;
}

.dropdown-menu,
.dropdown-item{
    background-color: #E66702;
    color: white;
}